.generate-form {
  padding-bottom: 30px;

  .button {
    margin: 20px 10px 20px 0;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .button:hover{    
    background: darkcyan;
    color: white;
    transition: 0.5s;
  }

  .generate-form__buttons input{
    border-radius: 5px;
    padding: 10px 10px;
  }
}

.generate-form__history{
  display: flex;
  flex-wrap: wrap;

  .item-file{
    width: 30%;
    padding: 5px;

    .load-tile{
      max-height: 100%;
    }
  }

}
