.student-list{
    display: flex;
    justify-content: center;
    width: 70%;
}

table{
    border-collapse: collapse;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    th, td {
        width: 120px;
        padding: 5px;
    }

    th {
        border: 1px solid black;
        text-transform: capitalize;
    }

    td {
        border: 1px solid black;
        transition: 0.5s;
    }

    td:hover{
        background: #7ed6df;
        transition: 0.3s;
    }
}
