*{
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-size: 14px;
}

h2 {
  font-size: 30px;
  color: darkcyan;
}

.content-section {
  display: flex;
  padding: 10px 10px;
  flex-wrap: wrap;
}

.form-field {
  display: flex;
  // flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  flex-wrap: wrap;
}

.form-label {
  width: 10%;
  text-align: left;
}

.form-input {
  width: 60%;
  // width: 200px;
  flex-grow: 2;
  margin: 0 10px;
  padding: 5px 10px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  position: relative;
  bottom: -1px;
  border-radius: 0;
  border: 1px solid #ccc;
  background: #e4e4e4;
  cursor: pointer;
  padding: 10px 20px;

  &.active {
    border-bottom: 1px solid white;
    background: none;
  }
}

.tab-content {
  display: none;
  padding: 20px 0;
  line-height: 1.7;

  &.active {
    display: block;
  }
}